
  <script>
     
   var array=[];
   {{#each Inspecoes}}
      array.push([
      {{id}},
      '{{timestampStart}}',
      '{{nomeInsp}}',
      '{{nomeMot}}',
      '{{placas}}', 
      '{{descVeic}}', 
      '{{quilometragem}}', 
      '{{nroFogo}}', 
      '{{eixo}}', 
      '{{lado}}', 
      '{{posicao}}', 
      '{{sulco}}', 
      '{{pressao}}', 
      '{{resultado}}',   
      '{{classificacao}}'  
      
      ])
   {{/each}}
  
   $(document).ready(
      function () {  
         var table =$('#Registros').DataTable(
            {
               data: array,
               columns: [
               { title: "ID"},
               { title: "Dt/Hr"},
               { title: "Nome insp"},
               { title: "Nome mot"},
               { title: "Placas"},
               { title: "Desc Veic"},
               { title: "Km"},
               { title: "Nro Fogo"},
               { title: "Eixo"},
               { title: "Lado"},
               { title: "Posição"},
               { title: "Sulco"},
               { title: "Pressão"},
               { title: "resultado"},
               { title: "classif"} 
               ],

               "language": {
               "lengthMenu": "Mostrar _MENU_",
               "zeroRecords": "Sem resultados",
               "info": "Pagina _PAGE_ de _PAGES_",
               "infoEmpty": "Sem resultados",
               "infoFiltered": "(Filtro _MAX_ registros)",
               "search":" Procurar ",
               "first": "Primeiro",
               "last": "Último",
               "next": "Próximo",
               "previous": "Anterior"
               },

               dom: 'Bfrtip',
               select: true,
               buttons: [             
                  {  
                     text: 'Editar',
                     action: function () {
                        if(table.rows( { selected: true } ).data().length==0){
                           window.alert("Selecione uma linha antes de clicar")
                           
                        }else{
                          var id = table.rows( { selected: true } ).data()[0][0]; 
                           window.location = '/edits/inspecoes/'+id;   
                        }
                     }
                  },
                  {  
                     text: 'Excluir',
                     action: function () {
                        if(table.rows( { selected: true } ).data().length==0){
                           window.alert("Selecione uma linha antes de clicar")
                           
                         }else{
                          var id = table.rows( { selected: true } ).data()[0][0];
                          var inspetor = table.rows( { selected: true } ).data()[0][1]; 
                           var txt;
                           if (confirm("Confirma a exclusão do(a) motorista "+ inspetor+" ?")) {
                                 window.location = '/dels/inspecoes/'+id;  
                           } 
                        }
                     }
                  },
                  {  
                     text: 'Novo',
                     action: function (e, dt, button, config) {
                        window.location = '/admin/inspecao/'
                        
                           
                     }
                  }
               ]
            
            }            
         );
      }    
   ) 
</script> 
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  
 
<div class="container-fluid">
   <h3><b> INSPEÇÕES</b></h3>
   <table id="Registros" class="display compact display compact cell-border stripe" style="font-size: 12px" ></table> 
</div>
