<script>
      
   var array=[];
   {{#each Pneus}}
    array.push([
    {{id}},
    '{{nro_fogo}}',
    '{{fabricante}}',
    '{{modelo}}',
    '{{largura}}',
    '{{perfil}}',
    '{{tipo}}',
    '{{diametro}}',
    '{{carga_max}}',
    '{{local}}',
    '{{eixo}}',
    '{{lado}}',
    '{{posicao}}',
     moment('{{createdAt}}').format('DD/MM/YYYY hh:mm'),
     moment('{{updatedAt}}').format('DD/MM/YYYY hh:mm')         
      ])
   {{/each}}
   
  
   $(document).ready(
      function () {  
         
       
         $('#id').hide()
         $('#two').hide()
         var table =$('#Registros').DataTable(
            {
               select: {
                  style: 'single'
               },
               data: array,
               columns: [
                { title: "id"},
                { title: "nro_fogo"},
                { title: "fabricante"},
                { title: "modelo"},
                { title: "largura"},
                { title: "perfil"},
                { title: "tipo"},
                { title: "diametro"},
                { title: "carga_max"},
                { title: "local"},
                { title: "eixo"},
                { title: "lado"},
                { title: "posicao"},
                { title: "createdAt"},
                { title: "updatedAt"}
                   
               ],
               "language": {
               "lengthMenu": "Mostrar _MENU_",
               "zeroRecords": "Sem resultados",
               "info": "Pagina _PAGE_ de _PAGES_",
               "infoEmpty": "Sem resultados",
               "infoFiltered": "(Filtro _MAX_ registros)",
               "search":" Procurar ",
               "first": "Primeiro",
               "last": "Último",
               "next": "Próximo",
               "previous": "Anterior"
               },

               dom: 'Bfrtip',
               select: true,
               buttons: [             
                  {  
                     text: 'Editar',
                     action: function () {
                        if(table.rows( { selected: true } ).data().length==0){
                           window.alert("Selecione uma linha antes de clicar")
                           
                        }else{
                          var id = table.rows( { selected: true } ).data()[0][0]; 
                           window.location = '/edits/pneus/'+id;   
                        }
                     }
                  },
                  {  
                     text: 'Excluir',
                     action: function () {
                        if(table.rows( { selected: true } ).data().length==0){
                           window.alert("Selecione uma linha antes de clicar")
                           
                        }else{
                          var id = table.rows( { selected: true } ).data()[0][0];
                          var nrofogo = table.rows( { selected: true } ).data()[0][1]; 
                           var txt;
                           if (confirm("Confirma a exclusão do pneu "+ nrofogo+" ?")) {
                                 window.location = '/dels/pneus/'+id;  
                           } 
                        }
                     }
                  },
                  {  
                     text: 'Novo',
                     action: function (e, dt, button, config) {
                        window.location = '/cadastros/pneus/';
                        
                           
                     }
                  },
                  {  
                     text: 'Emparelhar',
                     action: function () {
                        if(table.rows( { selected: true } ).data().length==0){
                           window.alert("Selecione uma linha antes de clicar")
                           
                        }else{
                           var id = table.rows( { selected: true } ).data()[0][0]; 
                           var nro_fogo = table.rows( { selected: true } ).data()[0][1]; 
                           var local_placa=table.rows( { selected: true } ).data()[0][9]; 
                           var eixo=table.rows( { selected: true } ).data()[0][10]; 
                           var lado=table.rows( { selected: true } ).data()[0][11]; 
                           var posicao=table.rows( { selected: true } ).data()[0][12]; 
                           
                           
                           
                           $('#id').val(id)
                           $('#nro_fogo').val(nro_fogo)

                           $('#local').append($(document.createElement('option')).prop(
                              {value: local_placa,text: local_placa}
                           ).attr('selected',true)) 
                           $('#eixo').append($(document.createElement('option')).prop(
                              {value: eixo,text: eixo}
                           ).attr('selected',true))     
                           $('#lado').append($(document.createElement('option')).prop(
                              {value: lado,text: lado}
                           ).attr('selected',true))     
                           $('#posicao').append($(document.createElement('option')).prop(
                              {value: posicao,text: posicao}
                           ).attr('selected',true))                   
                                              
                           $('#one').hide()
                           $('#two').show()

                        }
                     }
                   
                  }
               ]
            
            }            
         );
      }    
   ) 
</script>
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  
 
<div id="one">
   <div class="container-fluid bg-light">
      <div class="jumbotron jumbotron-fluid bg-light h-100">
         <h3><b> PNEUS</b></h3>
         <table  class="fl-table" id="Registros" class="display compact table table-striped" ></table> 
      </div>
   </div>
</div>


<div id="two">
  
   <div class="container-fluid bg-light">
      <div class="banner">
            <h3><b>EMPARELHAMENTO DE PNEU NA FROTA</b></h3>
         </div> 
      <form class="form-inline" id="empForm" action ="/updates/emparelhamentos" name ="empForm" method="POST"> 

         
       
      
         <input type="text" id="id" name="id" required>
         
      

         <div class="mb-3">
            <label for="nro_fogo" class="form-label">Número de fogo</label> 
            <input type="text" id="nro_fogo" name="nro_fogo" class="form-control bg-primary mr-4 text-white"readonly required>
         </div>
            
         
         <div class="mb-3">
            <label for="local" class="form-label">Local ou Placa</label>
            <select name="local" class="form-control m-2"  id="local">
               <option value=""></option>
               <option value="ESTOQUE">ESTOQUE</option>
               {{#each Placas}}    
                  <option value={{placas}}>{{placas}}</option>  
               {{/each}}
            </select>  
         </div>
   
         <div class="mb-3">
            <label for="eixo" class="form-label">Eixo</label>
            <select id="eixo" class="form-control mr-2"  name="eixo" required>
               <option value=""></option>
               <option value="ESTOQUE">ESTOQUE</option>
               <option value="1">1</option>
               <option value="2">2</option>
               <option value="3">3</option>
               <option value="4">4</option>
               <option value="4">5</option>
               <option value="4">6</option>
            </select>
         </div>            
      
         <div class="mb-3">
            <label for="lado" class="form-label">Lado</label>
            <select id="lado" class="form-control mr-2"  name="lado" required>
                <option value=""></option>
               <option value="ESTOQUE">ESTOQUE</option>
               <option value="DIREITO">DIREITO</option>
               <option value="ESQUERDO">ESQUERDO</option>
            </select> 
         </div>     
         
   
         <div class="mb-3">
            <label for="posicao" class="form-label">Posição</label>
            <select id="posicao" class="form-control mr-2"  name="posicao" required>
               <option value=""></option>
               <option value="ESTOQUE ">ESTOQUE</option>
               <option value="EXTERNO">EXTERNO</option>
               <option value="INTERNO">INTERNO</option>
            </select>  
         </div>
   
   
         <div class="mb-3">
         <br>
            <button class="btn btn-success" type="submit"><b>Salvar</b></button>
         </div>
     
      </form>
   </div>   

</div>