
<script>

    

    
    var arrayInspt=[];
        {{#each Inspetores}}   
        arrayInspt.push([
        {{id}},
        '{{matricula}}',
        '{{nome}}'  
        ])
    {{/each}}

    var arrayMot=[];
    {{#each Motoristas}}   
        arrayMot.push([
        {{id}},
        '{{matricula}}',
        '{{nome}}'  
        ])
    {{/each}}

    var arrayVeic=[];
    {{#each Veiculos}}   
        arrayVeic.push([
        {{id}},
        '{{placas}}',
        '{{tipo}}',
        '{{modelo}}',
        '{{fabricante}}',
        '{{qtepneus}}'
        ])
    {{/each}}

    $(document).ready(()=>{
        var time=moment(new Date().getTime()).format('DD/MM/YYYY hh:mm')
        $("#two").hide()    
        $("#matriculaInsp").focus()       
        $("#timestampStart").val(time)        
        $('#matriculaInspt,#matriculaMot,#placas,#nroFogo').click(           
            function(){               
                $(this).val("")
            }
        )

        $('#matriculaInspt').change(   
              
            function(){  
                $("#nomeInsp").prop('readonly',false)      
                var matriculaInspt=$(this).val() 
                var insptDatas=[]                   
                for(var i=0;i<arrayInspt.length;i++){
                    if(arrayInspt[i][1]==matriculaInspt){
                        insptDatas.push(arrayInspt[i][2])
                        $("#nomeInsp").prop('readonly',true)
                        break;
                   }
                } 
                $('#nomeInsp').val(insptDatas)           
               
            }
        )


         $('#matriculaMot').change(           
            function(){  
                $("#nomeMot").prop('readonly',false) 
                var matriculaMot=$(this).val()  
                var motDatas=[]                   
                for(var i=0;i<arrayMot.length;i++){
                    if(arrayMot[i][1]==matriculaMot){
                        motDatas.push(arrayMot[i][2])
                        $("#nomeMot").prop('readonly',true) 
                        break;   
                    }
                } 
                $('#nomeMot').val(motDatas)           
               
            }
        )

        $('#placas').change(           
            function(){  
                var placa=$(this).val()  
                var veicDatas=[]                   
                for(var i=0;i<arrayVeic.length;i++){
                    if(arrayVeic[i][1]==placa){
                        veicDatas.push(
                            [
                                "Tipo :"+arrayVeic[i][2]+"\n",
                                "Modelo :"+arrayVeic[i][3]+"\n",
                                "Fabr :"+arrayVeic[i][4]+"\n",
                                "Eixos :"+arrayVeic[i][5]
                            ]    
                        )
                        break;
                   }
                } 
                $('#descVeic').val(veicDatas)           
               
            }
        )

        
       
</script>   

{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  
    
<div class = "container text-dark">
  <br>
    <div class="container-fluid mb-3 bg-white text-dark rounded">  
        <form id="motForm" action ="/posts/inspecao" name ="motForm" method="POST" style="width:99%">   

            <div id="one">
                <br>
                <div class="banner">
                <h3><b> NOVA INSPEÇÃO</b></h3>
                </div>  
            
                <div class="mb-3">
                    <label for="timestampStart" class="form-label">Data Hora</label>   
                    <input type="text" class="form-control" id="timestampStart" name="timestampStart" class="form-control" readonly required>
                </div>           
                    
                <div class="mb-3">
                    <label for="matriculaInspt" class="form-label">Numero matrícula inspetor</label>   
                    <input type="text" class="form-control" list="inspList" id="matriculaInspt" name="matriculaInspt" required >
                    <datalist id="inspList">
                        <option value=""></option>
                        {{#each Inspetores}}    
                        <option value={{matricula}}>{{matricula}}</option>  
                        {{/each}}  
                    </datalist>
                </div> 

                <div class="mb-3">
                    <label for="nomeInsp" class="form-label">Nome do inspetor</label>   
                    <input type="text" class="form-control" id="nomeInsp" name="nomeInsp" class="form-control"> 
                </div> 

                
                <div class="mb-3">
                    <label for="matriculaMot" class="form-label">Numero matrícula motorista</label>   
                    <input type="text" class="form-control" list="motList" id="matriculaMot" name="matriculaMot" required>
                    <datalist id="motList">
                        <option value=""></option>
                        {{#each Motoristas}}    
                            <option value={{matricula}}>{{matricula}}</option>  
                        {{/each}}      
                    </datalist>
                </div>

                <div class="mb-3">
                    <label for="nomeMot" class="form-label">Nome do motorista</label>   
                    <input type="text" class="form-control" id="nomeMot" name="nomeMot" class="form-control">
                </div>
                                    
                <div class="mb-3">
                    <label for="placas" class="form-label">Número da placa</label>   
                    <input type="text" list="placasList" id="placas" name="placas"  class="form-control" required>
                    <datalist  id="placasList">
                        <option value=""></option>
                        {{#each Veiculos}}    
                        <option value={{placas}}>{{placas}}</option>  
                        {{/each}}  
                    </datalist>
                </div> 

                <div class="mb-3">
                    <label for="descVeic" class="form-label">Descrição do veículo</label>   
                    <textarea id="descVeic" class="form-control" name="descVeic" class="form-control" rows="5" columns="20" readonly ></textarea>
                </div> 

                <div class="mb-3">
                    <label for="quilometragem" class="form-label">Quilometragem</label>   
                    <input type="number" class="form-control" id="quilometragem" name="quilometragem" class="form-control" required>
                </div>

                    
            <div class="mb-3">
                    <label for="nroFogo" class="form-label">Numero de fogo Pneu</label> 
                    <input type="text"  list="fogoList" id="nroFogo" name="nroFogo" class="form-control" required>
                    <datalist id = "fogoList">
                        <option value=""></option>
                        {{#each Pneus}}    
                        <option value={{nro_fogo}}>{{nro_fogo}}</option>  
                        {{/each}}    
                    </datalist>
                </div>

              
                    

                
                <div class="mb-3">
                    <label for="eixo" class="form-label">Eixo</label> 
                    <select type="text" class="form-control" id="eixo" name="eixo" class="form-control" required>
                        <option value=""></option>
                        <option value="ESTOQUE">ESTOQUE</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="4">5</option>
                        <option value="4">6</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="lado" class="form-label">Lado</label> 
                    <select type="text" class="form-control" id="lado" name="lado" class="form-control" required>
                        <option value=""></option>
                        <option value="ESTOQUE">ESTOQUE</option>
                        <option value="DIREITO">DIREITO</option>
                        <option value="ESQUERDO">ESQUERDO</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="posicao" class="form-label">Posição</label> 
                    <select type="text" class="form-control" id="posicao" name="posicao" class="form-control" required>
                        <option value=""></option>
                        <option value="ESTOQUE ">ESTOQUE</option>
                        <option value="EXTERNO">EXTERNO</option>
                        <option value="INTERNO">INTERNO</option> 
                    </select>
                </div>           

                <div class="mb-3">
                    <label for="sulco" class="form-label">Sulco</label> 
                    <input type="number" class="form-control" id="sulco" name="sulco" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="pressao" class="form-label">Pressão</label> 
                    <input type="number" class="form-control" id="pressao" name="pressao" class="form-control" required>
                </div>        

                <div class="mb-3">
                    <label for="classificacao" class="form-label">Classificação</label> 
                    <select type="text" class="form-control" id="classificacao" name="classificacao" class="form-control" required>              
                        <option value=""></option>
                        <option value="PNEU EM BOM ESTADO">PNEU EM BOM ESTADO</option>
                        <option value="PNEU EM MAU ESTADO - PERIGO">PNEU EM MAU ESTADO - PERIGO</option>
                        <option value="DANO GRAVE LATERAL">DANO GRAVE LATERAL</option>
                        <option value="DANO GRAVE COROA">DANO GRAVE COROA</option>
                        <option value="DANO GRAVE TALAO">DANO GRAVE TALAO</option>
                        <option value="PNEU RODOU VAZIO">PNEU RODOU VAZIO</option>
                        <option value="RODA DANIFICADA">RODA DANIFICADA</option>
                        <option value="PNEU FURADO">PNEU FURADO</option>
                        <option value="PNEU EM ALERTA-SUCATA">PNEU EM ALERTA-SUCATA</option>
                        <option value="PERFURACAO LATERAL">PERFURACAO LATERAL</option>
                        <option value="DESEMPARELHADO">DESEMPARELHADO</option>
                        <option value="RODIZIO NECESSARIO">RODIZIO NECESSARIO</option>
                        <option value="DESENHO INCOMPATIVEL">DESENHO INCOMPATIVEL</option>
                        <option value="INDICIO FADIGA CARCACA">INDICIO FADIGA CARCACA</option>
                        <option value="DESALINHAMENTO">DESALINHAMENTO</option>
                        <option value="LISO - REFORMAR">LISO - REFORMAR</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="resultado" class="form-label">Resultado</label> 
                    <select type="text" class="form-control" id="resultado" name="resultado" class="form-control" required>
                        <option value=""></option>
                        <option value="APROVADO">APROVADO</option> 
                        <option value="APROVADO COM RESALVAS">APROVADO COM RESSALVAS</option>  
                        <option value="REPROVADO">REPROVADO</option>  
                    </select>
                </div>

                <div class="mb-3">
                    <label for="observacoes" class="form-label">Observações</label> 
                    <textarea type="text" class="form-control" id="observacoes" name="observacoes" class="overflow-auto form-control" rows="3" cols="38"></textarea>
                </div>

                <div class="mb-3">                
                    <button type="submit" class="btn btn-success" id="submit" name="submit">Registrar inspeção ✔</button>
                </div> 
            </div>    
            <div id="two">  

                <button type="button" class="btn btn-primary btn-block" id="closeHist" name="closeHist">Voltar a inspeção >></button>
                <br>    
                {{#each Inspecoes}}    
                    <div class="card m-2">
                        <div class="card-body" rounded>

                            <p><b>DT HR :</b> {{arrayInsp.timestampStart}}   <b>INSPETOR :</b> {{nomeInsp}}</p>
                            <p><b>MOTORISTA :</b> {{nomeMot}}   <b>PLACAS :</b> {{placas}}</p>
                                <p><b>VEICULO :</b> {{descVeic}}</p>
                            <p><b>KM :</b> {{quilometragem}}   <b>NFOGO :</b> {{nroFogo}}</p>   
                            <p><b>EIXO :</b> {{eixo}} <b>LADO :</b> {{lado}} <b>POS :</b> {{posicao}} <b>SULCO :</b> {{sulco}} pressao {{pressao}}</p>
                            <p><b>RESULT :</b> {{resultado}} <b>CLASSIF :</b> {{classificacao}} <b>OBS :</b> {{observacoes}} </p>
                            
                        </div>
                    </div>
                {{/each}}              
                
            </div>
        </form>
    </div> 
</div>    

            
                    

        
        

