
{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  
 
<div class = "container text-dark">
  <br>
  <div class="container-fluid mb-3 bg-white text-dark rounded">  
    <form id="motForm" action ="/updates/motoristas" name ="motForm" method="POST">       
      <br>
      <div class="banner">
        <h3><b> EDITAR MOTORISTA</b></h3>
      </div> 
                
      <div class="mb-3">
        <label for="id" class="form-label">ID</label>   
        <input type="text" class="form-control" name="id" id="id" value={{Motorista.id}} readonly required/>
      </div>
      
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>   
        <input type="text" class="form-control" name="nome" id="nome" value={{Motorista.nome}} required/>
      </div>

      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo de colaborador</label>   
        <select class="form-control" id="tipo" name="tipo" required>
          
          <option value={{Motorista.tipo}}>{{Motorista.tipo}}</option>
          <option value=""></option>
          <option value="PRÓPRIO">PRÓPRIO</option>
          <option value="TERCEIRIZADO">TERCEIRIZADO</option>
          <option value="OUTROS">OUTROS</option>
        </select>  
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>   
        <input type="email" class="form-control" name="email" id="email" value={{Motorista.email}} >
      </div>

      <div class="mb-3">
        <label for="contato" class="form-label">Tel contato</label>   
        <input type="text" class="form-control" id="contato" name="contato" value={{Motorista.contato}} required>        
      </div>

      <div class="mb-3">
        <label for="matricula" class="form-label">Matrícula</label>   
        <input type="text" class="form-control"  id="matricula" name="matricula" value={{Motorista.matricula}} required>
      </div>

      <div class="mb-3">
        <label for="desc_cargo" class="form-label">Função</label>   
        <select id="desc_cargo" class="form-control"  name="desc_cargo" required>
          <option value={{Motorista.desc_cargo}}>{{Motorista.desc_cargo}}</option>
          <option value=""></option>
          <option value="MOT. VEICULO PESADO">MOT. VEICULO PESADO</option>
          <option value="MOT. VEICULO LEVE">MOT. VEICULO LEVE</option>
        </select>   
      </div>          
      
      
      <div class="mb-3">
        <label for="desc_local" class="form-label">Local de trabalho</label>   
        <select id="desc_local" class="form-control"  name="desc_local"required>
          <option value={{Motorista.desc_local}}>{{Motorista.desc_local}}</option>
          <option value=""></option>
          <option value="MATRIZ">MATRIZ</option>
          <option value="FILIAL 1">FILIAL 1</option>
          <option value="FILIAL 2">FILIAL 2</option>
          <option value="PÁTIO 1">PÁTIO 1</option>
          <option value="PÁTIO 2">PÁTIO 2</option>
          <option value="GARAGEM 1">GARAGEM 1</option>
          <option value="GARAGEM 2">GARAGEM 2</option>
        </select>  
      </div>
      
      <div class="mb-3">
        <label for="categoria_cnh" class="form-label">Categoria CNH</label>   
        <select id="categoria_cnh" class="form-control" name="categoria_cnh"required>
          <option value={{Motorista.categoria_cnh}}>{{Motorista.categoria_cnh}}</option>
          <option value=""></option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
        </select>  
      </div>  

      <div class="mb-3">
        <label for="validade" class="form-label">Data de validade CNH</label>   
        <input type="date" class="form-control"  id="validade" name="validade" value={{Motorista.validade}} required>
      </div>
       
      
      <div class="btn-block">
        <button class="btn btn-success" type="submit">Registrar</button>
      </div>
    </form>
  </div>
</div>  
