<script>
  $(document).ready(    
    function () {  

      $('#qteeixord,#qteeixors').change(
        function(){
          var rs = $('#qteeixors').val()
          var rd = $('#qteeixord').val()

          var te = Number(rs)+Number(rd)
          var tp= Number(rs)*2+Number(rd)*4
          console.log(tp)
          $('#qteeixos').val(te)
          $('#qtepneus').val(tp)
        }
      )

    }
  )    

 
</script>



{{#each erros}}
    <div class="alert alert-danger">
        {{texto}}
    </div>
{{/each}}  

<div class = "container text-dark">
  <br>
  <div class="container-fluid mb-3 bg-white text-dark rounded">
    <form id="veicForm" action ="/updates/veiculos" name ="veicForm" method="POST">
    <br>
       <div class="banner">
        <h3><b> EDITAR VEICULO</b></h3>
      </div> 

      <div class="mb-3">
        <label for="id" class="form-label">ID</label>   
        <input type="text"  class="form-control"  name="id" id="id" value={{Veiculo.id}} readonly required/>
        </div>
                
      <div class="mb-3">
        <label for="placas" class="form-label">Placas</label>   
        <input type="text"  class="form-control"  name="placas" id="placas" value={{Veiculo.placas}} required/>
        </div>
      
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo de Veículo</label>   
        <select id="tipo"  class="form-control"  name="tipo">
          <option value={{Veiculo.tipo}}>{{Veiculo.tipo}}</option>
          <option value=""></option>
          <option value="UTILITARIO">UTILITARIO</option>           
          <option value="TOCO">TOCO</option>
          <option value="TRUCK">TRUCK</option>
          <option value="CAVALO">CAVALO</option>
          <option value="CARRETA">CARRETA</option>            
        </select>  
      </div>
   
      <div class="mb-3">
        <label for="modelo" class="form-label">Modelo</label>   
        <input type="text"  class="form-control"  id="modelo" name="modelo" value={{Veiculo.modelo}} required/>              
      </div>     
        
      <div class="mb-3">
        <label for="fabricante" class="form-label">Fabricante</label>   
        <select id="fabricante" class="form-control"   name="fabricante"  required/>
          <option value={{Veiculo.fabricante}}>{{Veiculo.fabricante}}</option>
          <option value=""></option>
          <option value="IVECO">IVECO</option>
          <option value="MAN">MAN</option>
          <option value="MERCEDEZ">MERCEDEZ-BENZ</option>
          <option value="SCANIA">SCANIA</option>
          <option value="VOLKSWAGEN">VOLKSWAGEM</option>
          <option value="VOLVO">VOLVO</option>
          <option value="OUTROS">OUTROS</option>
        </select>  
      </div>    

      <div class="mb-3">
        <label for="ano_fabr" class="form-label">Ano de fabricação</label>   
        <select id="ano_fabr" class="form-control"   name="ano_fabr"> 
          <option value={{Veiculo.ano_fabr}}>{{Veiculo.ano_fabr}}</option>
          <option value=""></option>           
          <option>1981</option><option>1982</option><option>1983</option><option>1984</option>
          <option>1985</option><option>1986</option><option>1989</option><option>1990</option>
          <option>1991</option><option>1992</option><option>1995</option><option>1996</option>
          <option>1997</option><option>1998</option><option>1999</option><option>2000</option>
          <option>2002</option><option>2003</option><option>2004</option><option>2006</option>
          <option>2007</option><option>2008</option><option>2009</option><option>2010</option>
          <option>2011</option><option>2012</option><option>2013</option><option>2014</option>
          <option>2015</option><option>2016</option><option>2017</option><option>2018</option>
          <option>2019</option><option>2020</option><option>2021</option><option>2022</option>
        </select>  
      </div>
      
      <div class="mb-3">
        <label for="prefixo" class="form-label">Prefixo</label>   
        <input type="text" class="form-control"   name="prefixo" id="prefixo" value={{Veiculo.prefixo}} required/>
      </div>

      <div class="mb-3">
        <label for="qteeixors" class="form-label">Qte eixo(s) rodagem SIMPLES</label>   
        <select id="qteeixors" class="form-control" name="qteeixors">
          <option value={{Veiculo.qteeixors}}>{{Veiculo.qteeixors}}</option>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>  
      </div>

      <div class="mb-3">
        <label for="qteeixord" class="form-label">Qte eixo(s) rodagem DUPLA</label> 
        <select id="qteeixord" class="form-control" name="qteeixord">
          <option value={{Veiculo.qteeixord}}>{{Veiculo.qteeixord}}</option>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>  
      </div>
      
      <div class="mb-3">
        <label for="qteeixos" class="form-label">Qte total de eixos</label>   
        <select id="qteeixos" class="form-control" name="qteeixos">
          <option value={{Veiculo.qteeixos}}>{{Veiculo.qteeixos}}</option>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>  
      </div>

      <div class="mb-3">
        <label for="qtepneus" class="form-label">Qte total de Pneus (excluído(s) estepe(s))</label>   
        <select id="qtepneus" class="form-control" name="qtepneus">
          <option value={{Veiculo.qtepneus}}>{{Veiculo.qtepneus}}</option>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
        </select>  
      </div>
     
      <div class="mb-3">
        <label for="qteestepes" class="form-label">Qte total de estepes</label>   
        <select id="qteestepes" class="form-control" name="qteestepes" required/>
          <option value={{Veiculo.qteestepes}}>{{Veiculo.qteestepes}}</option>
          <option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>                        
        </select>  
      </div>    
      
      <div class="mb-3">
        <label for="base" class="form-label">Local de base</label>   
        <select id="base" class="form-control" name="base">
          <option value={{Veiculo.base}}>{{Veiculo.base}}</option>
          <option value=""></option>
          <option value="MATRIZ">MATRIZ</option>
          <option value="FILIAL 1">FILIAL 1</option>
          <option value="FILIAL 2">FILIAL 2</option>
          <option value="PÁTIO 1">PÁTIO 1</option>
          <option value="PÁTIO 2">PÁTIO 2</option>
          <option value="GARAGEM 1">GARAGEM 1</option>
          <option value="GARAGEM 2">GARAGEM 2</option>
        </select>  
      </div>

      <div class="btn-block">
        <button class="btn btn-success" type="submit"><b>Salvar</b></button>
      </div>
    </form>
  </div>
</body>
